.container-proyectsPage {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}

.container-proyectsPage{
    overflow: hidden;
}

.container-proyects{
    width: 80vw;
}

.category {
    width: 80vw;
}

.error-search{
    width: 60vw;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

.category h2{
    color: #fff;
    margin-top: 15px;
    font-size: 40px;
    background-color: #000;
    text-align: start;
}

.list-proyects {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

.menu-proyects{
    width: 100vw;
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-proyects input{
    background-color: #fff;
    border: 1px solid #8b8888;
    color: #000;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 20px;
    height: 30px;
    width: 450px;
    outline: none;
}

.menu-proyects h1{
    position: absolute;
    left: 15%;
}

.menu-proyects .search-icon {
    cursor: pointer;
    margin-left: -30px;
    background-color: transparent;
}

.menu-proyects .search-icon path {
    color: #3b3a3a;
}

.menu-proyects form{
    display: flex;
    align-items: center;
    background-color: transparent;
}

.settings-icon{
    cursor: pointer;
    margin-left: -20px;
    margin-right: 20px;
    background-color: transparent;
}

.settings-icon path {
    color: #3b3a3a;
}

.settings-menu{
    background-color: #000;
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.section-proyects{
    display: flex;
}

.settings-menu ul{
    margin-top: 50px;
    list-style: none;
}

.settings-menu li {
    margin: 10px;
}

.settings-menu label{
    cursor: pointer;
    user-select: none;
}

.settings-menu input{
    cursor: pointer;
}

.settings-menu h3 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}