
.contain-proyects{
    background-color: black;
    padding: 10px;

}

.title-proyects {
    background-color: black;
    font-size: 50px;
    margin-bottom: -10px;
    padding: 20px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;

}

.contain-proyects {
    align-items: center;
    justify-content: center;
    display: flex;
  flex-wrap: wrap;
}

.read-more {
    cursor: pointer;
    display: flex; 
    height: 100px;
    overflow: hidden;
    background: black; 
    color: #fff;
    background-size: 100% 200%;
    transition: 0.5s;
    padding-left: 40px;
    padding-right: 40px;
    &:hover{
        padding-left: 70px;
        padding-right: 70px;
        background-color: #fff;
        .text-read-more {
            color:black
        }
        .arrow-read-more {
            color: black;
        }
        
    }
}

.text-read-more {
    margin-bottom: -0.5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: transparent;
    
}

.arrow-read-more {
    margin-bottom: -0.5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: transparent;
    margin-left: auto;
}

@media (max-width: 360px) {
    .title-proyects{
        font-size: 30px;
    }
}