.nav {
    padding-top: 20px;
    color: #fff;
    background-color: #2b2b47 !important;
}

.menu {
    margin-top: 20px;
}

.font-bold {
    margin-bottom: 0px;
}

.logo-nav {
    background-color: transparent;
    height: 70px;
    margin-right: 10px;
}

.mb-custom {
    margin-bottom: 16px;
    padding-left: 32px;
}

.brand {
    max-width: 221px;
    max-height: 64px;
}

.brand-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
}

.items-custom {
    width: 458px;
    justify-content: space-between !important;
}

.items-extend {
    max-width: 249px;
}

.item {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 637px) {
    .item{
        color: black;
    }
  }