.roboticaPage {
    width: 100vw;
    height: calc(50vh - 84px);
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.titleRobotica {
    font-weight: 800;
    font-size: 70px;
}

.roboticaPage-Img {
    height: 400px;
}

.ml10 {
    margin-left: 10%;
}

.mr10 {
    margin-right: 10%;
}

.aboutRobotic {
    width: 100vw;
    height: 50vh;
    background-color: #b0c3ff;
}

.subtitle {
    font-weight: 600;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 10px;
}

.robotic-description {
    padding-left: 20px;
    padding-top: 10px;
    max-width: 60%;
}

.description-container{
    display: flex;
}

.img-description {
    background-color: #fff;
    border-radius: 100%;
    margin-top: -3%;
    margin-left: 30px;
}