.roboticaPage {
    width: 100vw;
    height:auto;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.titleRobotica {
    font-weight: 800;
    font-size: 370%;
}

.roboticaPage-Img {
    height: 400px;
}

/* .ml10 {
    margin-left: 10%;
}

.mr10 {
    margin-right: 10%;
} */

.aboutRobotic {
    width: 100vw;
    height: 45vh;
    background-color: #b0c3ff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;
}

.subtitle {
    font-weight: 600;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 10px;
}

.robotic-description {
    padding-left: 40px;
    padding-top: 10px;
    max-width: 60%;
    height: 50%;
}

.description-container{
    display: flex;
    height: 200px;
}

.img-description {
    background-color: #fff;
    border-radius: 100%;
    margin-left: 40px;
    margin-top: -3%;
    height: 220px;
}

.lnr-container{
    width: 100vw;
    height: 50vh;
    background-color: #fff;
}

.logo-lnr{
    margin-left: 40px;
    height: 200px;
}

.desc-lnr{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 200px;
}

.size-desc{
    font-size: 23px;
}

@media screen and (max-width: 1060px) {
    
    .roboticaPage-Img{
        height: 250px;
    }

    .titleRobotica {
        font-weight: 800;
        font-size: 50px;
    }

    .aboutRobotic {
        padding-left: 15%;
    }
}

@media screen and (max-width: 935px) {
    
    .roboticaPage-Img{
        height: 250px;
    }

    .aboutRobotic {
        padding-left: 10%;
    }

    .titleRobotica {
        font-weight: 800;
        font-size: 30px;
    }
}

@media screen and (max-width: 650px) {
    
    .roboticaPage {
        flex-direction: column;
    }

    .subtitle{
        font-size: 30px;
    }

    .aboutRobotic {
        padding-left: none;
        justify-content: start;
    }

    .titleRobotica {
        font-size: 40px;
    }

}