.container-home{
    width: auto;
    height: calc(100vh - 80px);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat url("../../assets/back.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.text-date{
    color: #000;
}

.title-home{
    font-size: 90px;
    color: white;
    font-weight: 800;
}

.title-home-sub{
    font-size: 90px;
    color: #00f7ff;
    font-weight: 800;
}


.title-about-us-section {
    font-size: 50px;
    background-color: white;
    margin-bottom: -10px;
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    color: black;
}

.body-about-us {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}


.contain-text {
    background-color: transparent;
    flex: 1;
}



.title-header {
    font-weight: 600;
    font-size: 50px;
}

@media (max-width: 1169px){
    .text-date{
        color: #fff;
    }   
}


@media (max-width: 755px){
    .title-header {
        font-size: 30px;
    }
    
}

@media (max-width: 500px){
    .title-header{
        font-size: 20px;
    }
}






