.card-proyect {
    width: 300px;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    margin: 20px;
  }
  
  .container-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
    color: #fff;
  }
  
  .container-img img {
    width: 300px;
  }
  
  .card-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .card-desc p {
    margin: 0;
    color: #fff;
  }
  
  .card-desc .card-title {
    color: white;
    margin-top: 5px;
    font-size: 20px;
    padding: 0;
  }
  
  .card-span {
    margin-top: 3px;
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
  }
  
  .card-proyect:hover .card-span {
    width: 100%;
  }